.navbar-brand {
    width: 150px;
    display: inline-block;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 18px;
    outline: none;
}
.navbar-brand:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
