.content-stock > td {
    padding: 10px 0 10px;
    text-align: center;
}
.content-stock .btn-container  {
    padding: 0;
    width: 100px;
}
.content-stock .content-short {
    width: 80px;
}
.content-stock .content-medium {
    width: 120px;
}

.content-stock {
    border-bottom: 1px #fff solid;
    border-left: 0;
    border-right: 0;
}