.btn-secondary {
    width: 150px;
    display: inline-block;
    color: #fff;
    background-color: rgb(64, 64, 64, 0.3);
    border: none;
    font-size: 17px;
    outline: none;
}
.btn-secondary:hover {
    background-color: rgba(76, 76, 76, 0.7);
}
